/*
img {
	border: 1px solid red;
}
div {
	border: 1px dotted blue ;
}
*/

body {
	width: 1000px ;
	margin-left: auto ;
	margin-right: auto ;
	overflow-y: scroll ;
	/* border: 1px solid red; */
}

img.header_img {
	float: left ;
	padding-left: 10px ;
	padding-right: 10px ;
}

img.header_arrow {
	float: left;
	clear: left ;
	padding-left: 80px ;
}

.header_text {
	float: left ;
	padding-left: 10px ;
	padding-right: 10px ;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 40px ;
}

div.header_subtext {
	padding-top: 20px ;
	padding-left: 100px ;
}

div.header {
	border-bottom: 2px solid black ;
	font-family: sans-serif ;
	font-size: 15px ;
}

strong {
	font-family: sans-serif ;
}

.nav_button {
	margin-top: 10px ;
	padding-left: 3% ;
	padding-right: 3% ;
	width: 14% ;
	float: left ;
	margin-left: auto ;
	margin-right: auto ;
	font-family: sans-serif ;
	font-size: 22px ;
	text-align: center ;
	color: #000000;
	border-bottom: 2px solid white ;
}

.nav_button:hover {
	color: #AA0000 ;
}

.nav_button_selected {
	border-bottom: 2px solid black ;
}

div.button_bar {
	width:900px ;
	margin-left: 50px ;
	margin-right: 50px ;
	overflow: auto ; /* Forces div to contain its floats. */
	/* border: 1px solid red ; */
}

dt {
	font-weight: bold ;
	font-style: italic ;
}

div.main_text {
	width: 800px ;
	padding-top: 20px ;
	margin-left: auto ;
	margin-right: auto ;
	font-family: serif ;
	//border: 1px dotted red ;
}

.main_text .display_diagram {
	padding-top: 20px ;
	width: 460px ;
	margin-left: auto ;
	margin-right: auto ;
}

.display_diagram_right {
	padding-top: 0px ;
	margin-left: 50px ;
	float: right ;
}

.main_text .terminal_display {
	height: 110px ;
	overflow: auto ;
	padding: 10px ;
	margin-top: 10px ;
	border: 1px dotted black ;
	background-color: #22AD57 ;
}

#download table {
	text-align: left ;
	width: 600px ;
	border: 1px solid black ;
	background-color: #CCCCCC ;
	padding: 10px ;
}

th {
	border-bottom: 1px solid black ;
	font-family: sans-serif ;
}

h1, h2, h3, h4 {
	font-family: sans-serif ;
}

.tutorial_header {
	width: 100% ;
	margin: 2px ;
	overflow: auto ;
}

.tutorial_separator {
	width: 100% ;
	margin: 10px ;
	border-bottom: 2px solid black ;
}
.task {
	width: 100% ;
	margin: 2px;
	margin-top: 10px ;
	overflow: auto ;
}

.task_name {
	font-family: sans-serif ;
	font-weight: bold ;
	float: left ;
}

.task_notes {
	margin-top: 1px ;
	margin-bottom: 1px ;
	float: left ;
	font-family: sans-serif ;
	font-size: 0.8em;
	padding: 5px ;
}

.monospace {
	font-family: monospace ;
}

.task_command_line {
	margin-top: 1px ;
	margin-bottom: 1px ;
	padding: 5px ;
	font-family: monospace ;
	background-color: #82BD77 ;
	float: left ;
	clear: left ;
}

.file_formats {
	width: 90% ;
	margin-left: auto ;
	margin-right: auto ;
}