body {
	width: 80% ;
	max-width: 900px ;
	margin-left: auto ;
	margin-right: auto ;
	text-align: left ;
}

table.filespec {
	width: 80% ;
	max-width: 900px ;
	border-width: 5px;
	border-spacing: ;
	border-style: dotted;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
	margin-left: auto ;
	margin-right: auto ;
}

table.filespec th {
	border-width: 2px;
	padding: 4px;
	border-style: solid;
	border-color: black;
	background-color: #D0D0D0;
	-moz-border-radius: ;
	v-align: middle;
}
table.filespec td {
	border-width: 1px;
	padding: 4px;
	border-style: solid;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
	
	text-align: center ;
	v-align: middle;
}

table.linkedfiles {
	width: 60% ;
	border-width: 5px;
	border-spacing: ;
	border-style: dotted;
	border-color: gray;
	border-collapse: collapse;
	background-color: white;
}
table.linkedfiles th {
	border-width: 2px;
	padding: 4px;
	border-style: solid;
	border-color: black;
	background-color: #D0D0D0;
	-moz-border-radius: ;
	v-align: middle;
}
table.linkedfiles td {
	border-width: 1px;
	padding: 4px;
	border-style: solid;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
	
	text-align: center ;
	v-align: middle;
}

table.field_encoding_scheme {
	width: 80% ;
	font-family: monospace ;
	border: 0px ;
	margin-left margin-right: 10% ;
}

table.field_encoding_scheme td {
	width: 1px ;
	border: 0px ;
	padding: 0px ;
	padding-right: 10px ;
	text-align: left ;
}

table.changes {
	width: 90% ;
	font-size: 10pt ;
}

.changes th {
	border-bottom: 1px solid black ;
	margin:0px ;
}


h1, h2, h3, h4, .gavsheader {
	text-align: left ;
	font-family: helvetica ;
}

h2 {
	border-bottom: 1px solid black ;
	margin-top: 50px ;
}

.displayFormula {
	text-align: center;
	font-family: sans-serif ;
}

.printStyleTable {
	border-collapse: collapse ;
	margin-left: auto ;
	margin-right: auto ;
}

.printStyleTable thead th {
	border-bottom: 1px solid black ;
	padding-left: 5px ;
	padding-right: 10px ;
}

.printStyleTable tbody th {
	padding-right: 10px ;
	text-align: center;
}

.printStyleTable tbody td {
	padding-right: 10px ;
	text-align: center;
}
