/*
img {
	border: 1px solid red;
}
div {
	border: 1px dotted blue ;
}
*/

body {
	width: 1000px ;
	margin-left: auto ;
	margin-right: auto ;
	overflow-y: scroll ;
	/* border: 1px solid red; */
}

img.header_img {
	float: left ;
	padding-left: 10px ;
	padding-right: 10px ;
}

img.header_arrow {
	float: left;
	clear: left ;
	padding-left: 80px ;
}

.header_text {
	float: left ;
	padding-left: 10px ;
	padding-right: 10px ;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size: 40px ;
}

div.header_subtext {
	padding-top: 20px ;
	padding-left: 20px ;
}

div.header {
	border-bottom: 2px solid black ;
	font-family: sans-serif ;
	font-size: 15px ;
}

strong {
	font-family: sans-serif ;
}

nav {
	width: 900px ;
	width: 1000px ;
	position: absolute;
	position: absolute;
	top: 3em;
	height: 3em;
	margin-left: auto ;
	margin-right: auto ;
	font-family: helvetica, sans-serif ;
	color: #000000;
	background-color: white ;
	/*border: 1px solid black ;*/
}

nav > div {
	width: 800px ;
	margin-left: auto ;
	margin-right: auto ;
}

.nav_button {
	display: inline-block;
	position: relative;
	box-sizing: border-box ;
	margin-top: 10px ;
	padding-left: 15px ;
	padding-right: 15px ;
	padding-top: 3px ;
	padding-bottom: 0px ;
	font-size: 22px ;
	text-align: left ;
}

.nav_button.open {
	background-color: rgba( 51, 176, 254, 0.9 ) ;
}

.nav_button ul a:hover {
	background-color: rgba( 51, 176, 254, 0.9 ) ;
}

.nav_button a {
	padding-left: 5px ;
	padding-right: 5px ;
	display: inline-block ;
}

.nav_button ul {
	display:none ;
	float: left ;
	clear: both ;
	box-sizing: border-box;
	position: absolute ;
	box-sizing: content-box ;
	list-style: none;
	text-align: left ;
	left: 0px ;
	min-width: 300px ;
	background-color: white ;
	padding: 3px ;
	margin: 0px ;
	font-size: 14px ;
	/*width: 180px ;*/
	padding-left: 3px ;
	padding-right: 3px ;
	background-color: rgba( 220, 220, 220, 0.95 ) ;
	border-radius: 0px 0px 4px 4px;
	box-shadow: 4px 4px 4px 0px rgba(0,0,0,0.2);
}

.nav_button ul a {
	display: block;
	width: auto;
	padding-top: 2px ;
	padding-bottom: 2px ;
	padding-left: 15px ;
}

nav a, nav a:hover, nav a:visited {
	color: black;
	text-decoration: none ;
}

.nav_button.open ul {
	display:block ;
}

dt {
	font-weight: bold ;
	font-style: italic ;
}

section {
	width: 800px ;
	padding-top: 2em ;
	margin-left: auto ;
	margin-right: auto ;
	font-family: serif ;
	/*border: 1px dotted red ;*/
}

.main_text .display_diagram {
	padding-top: 20px ;
	margin-left: auto ;
	margin-right: auto ;
}

.display_diagram_right {
	padding-top: 0px ;
	margin-left: 50px ;
	float: right ;
}

.main_text .terminal_display {
	height: 110px ;
	overflow: auto ;
	padding: 10px ;
	margin-top: 10px ;
	border: 1px dotted black ;
	background-color: #22AD57 ;
}

#download table {
	text-align: left ;
	width: 600px ;
	border: 1px solid black ;
	background-color: #CCCCCC ;
	padding: 10px ;
}

.file_formats, .option_table {
	table-layout: fixed ;
	width: 800px ;
	margin-left: auto ;
	margin-right: auto ;
	font-family: helvetica, sans-serif ;
	border-collapse: collapse ;
}

.file_formats thead, .option_table thead {
	font-size: 14pt ;
	text-align: left ;
	margin-bottom: 2px ;
	vertical-align: bottom ;
}

.file_formats tbody, .option_table tbody {
	font-size: 10pt ;
}

.code {
	font-family: monospace ;
	font-size: 8pt ;
}

.file_formats tr, .option_table tr {
	margin-top: 10px ;
	margin-bottom: 10px ;
}

.file_formats thead th, .option_table th {
	padding-top: 3px ;
	padding-bottom: 3px ;
	border-bottom: 1px solid black ;
}

.file_formats th, .option_table th {
	text-align: left ;
}

.file_formats td, .option_table td {
	height: 100% ;
	vertical-align: top ;
	padding-top: 10px ;
	padding-bottom: 10px ;
}

.file_formats .acronym {
	width: 150px ;
}

.file_formats .notes {
	width: 400px ;
}

.file_formats .io {
	width: 50px ;
}

.file_formats .filetype {
	width: 150px ;
}

.option_table .option {
	width: 200px ;
}

.option_table .description {
	width: 500px ;
}


h1, h2, h3, h4 {
	font-family: sans-serif ;
}

.tutorial_header {
	width: 100% ;
	margin: 2px ;
	overflow: auto ;
}

.tutorial_separator {
	width: 100% ;
	margin: 10px ;
	border-bottom: 2px solid black ;
}
.task {
	width: 100% ;
	margin: 2px;
	margin-top: 10px ;
	overflow: auto ;
}

.task_name {
	font-family: sans-serif ;
	font-weight: bold ;
	float: left ;
}

.task_notes {
	clear: both ;
	margin-top: 1px ;
	margin-bottom: 1px ;
	float: left ;
	font-family: sans-serif ;
	font-size: 0.8em;
	padding: 5px ;
}

.monospace {
	font-family: monospace ;
}

.task_command_line {
	margin-top: 1px ;
	margin-bottom: 1px ;
	padding: 5px ;
	font-family: monospace ;
	background-color: #82BD77 ;
	float: left ;
	clear: left ;
}

.smalltext {
	font-size: 80% ;
}

.column_definition lh {
	font-size: 100% ;
	margin-top: 10px ;
	margin-bottom: 10px ;
	font-family: sans-serif ;
}