#download table {
	text-align: left ;
	width: 600px ;
	border: 1px solid black ;
	background-color: #CCCCCC ;
	padding: 10px ;
	font-size: 16pt ;
}

.file_formats, .option_table, .download {
	table-layout: fixed ;
	width: 800px ;
	margin-left: auto ;
	margin-right: auto ;
	font-family: monospace, helvetica, sans-serif ;
	border-collapse: separate ;
	text-align: left ;
	border-spacing: 0px ;
}

table thead {
	font-size: 16px ;
	text-align: left ;
	margin-bottom: 2px ;
	vertical-align: bottom ;
	border-bottom: 1px solid black ;
}

table tbody {
	font-size: 12px ;
}

table code {
	font-size: 10px ;
}

table tbody tr:nth-child(odd) {
	background: #eeeeee ;
}

table.dataTable tr.odd { background-color: #eeeeee; }

table thead th {
	padding-top: 3px ;
	padding-bottom: 3px ;
	padding-left: 5px ;
	border-bottom: 1px solid black ;
	//text-align: left ;
}

table tbody td {
	vertical-align: top ;
	padding-top: 5px ;
	padding-bottom: 5px ;
}
/*
.file_formats .acronym {
	width: 100px ;
}

.file_formats .notes {
	width: 400px ;
}

.file_formats .io {
	width: 50px ;
}

.file_formats .filetype {
	width: 150px ;
}
*/

.option_table .option {
	width: 200px ;
}

.option_table .description {
	width: 500px ;
}
